.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  padding-bottom: 0.6rem;
  line-height: 2rem;
  font-size: 1.1rem;
  color: #000807;
}

.markdown strong {
  color: #f9844a;
}

.markdown em {
  color: #258ca8;
}

.markdown h1 {
  font-size: 2rem;
  margin: 1.8rem 0;
  color: brown;
  border-bottom: brown solid 1px;
  text-align: right;
}

.markdown h2 {
  font-size: 1.8rem;
  margin: 1.6rem 0;
  color: #073b4c;
  border-bottom: #073b4c solid 1px;
  text-align: center;
}

.markdown h3 {
  font-size: 1.6rem;
  padding-top: 1.4rem;
  color: darkcyan;
  text-align: left;
}

.markdown h4 {
  font-size: 1.4rem;
  padding-top: 1rem;
  color: indianred;
  text-align: left;
  margin: 0.5rem 0;
}

.markdown pre {
  color: #073b4c;
  background-color: #f2e8cf;
  padding: 1rem 3rem;
  margin: 0 -1.2rem;
}

.markdown li {
  margin-left: 1.5rem;
}

.markdown a {
  color: darkgoldenrod;
  border-bottom: darkgoldenrod solid 1px;
}
